/* style.css */


body {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: small;
}

body.index {
    background-color: black;
    color: white;
}

div#container {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 30%;
}

div#spacer {
    height: 3em;
}

div#note {
    font-size: x-small;
}

div#text a {
    color: white;
}

div#text a:visited {
    color: #c0c0c0;
}
